@model Najmodavac.Models.Rezervacije

@{
    ViewData["Title"] = "Edit";
}

<h1>Promjena</h1>

<h4>Rezervacije</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Ime" class="control-label"></label>
                <input asp-for="Ime" class="form-control" />
                <span asp-validation-for="Ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prezime" class="control-label"></label>
                <input asp-for="Prezime" class="form-control" />
                <span asp-validation-for="Prezime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adresa" class="control-label"></label>
                <input asp-for="Adresa" class="form-control" />
                <span asp-validation-for="Adresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grad" class="control-label"></label>
                <input asp-for="Grad" class="form-control" />
                <span asp-validation-for="Grad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Drzava" class="control-label"></label>
                <input asp-for="Drzava" class="form-control" />
                <span asp-validation-for="Drzava" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PocetakRezervacije" class="control-label"></label>
                <input asp-for="PocetakRezervacije" class="form-control" />
                <span asp-validation-for="PocetakRezervacije" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KrajRezervacije" class="control-label"></label>
                <input asp-for="KrajRezervacije" class="form-control" />
                <span asp-validation-for="KrajRezervacije" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SmjestajnaJedinicaFk" class="control-label"></label>
                <select asp-for="SmjestajnaJedinicaFk" class="form-control" asp-items="ViewBag.SmjestajnaJedinicaFk"></select>
                <span asp-validation-for="SmjestajnaJedinicaFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
